// Menu.module.scss
// Menu.module.scss

/*$navbar-bg-color: #aebcbf; // Цвет фона навбара
$nav-link-hover-bg-color: #6b7475; // Цвет фона навбара при наведении

.customNavbar {
  background: linear-gradient(135deg, #aebcbf 0%, #000000 0%, #000000 38%, #6b7475 38%, #6b7475 41%, #6b7475 42%, #6b7475 42%, #6b7475 42%, #000000 42%, #000000 46%, #6b7475 46%, #6b7475 54%, #6b7475 54%, #6b7475 58%, #6b7475 58%, #6b7475 74%, #6b7475 74%, #6b7475 88%, #0a0e0a 88%, #0a0809 100%);
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.brand img {
  margin-right: 10px; // Регулирует расстояние между логотипом и текстом
}

.brandText {
  padding-left: 30px;
  a {
    text-decoration: none; // Убираем подчеркивание
    color: white; // Изменяем цвет текста на белый
  }
}

.navLinks {
  margin-left: auto; // Чтобы элементы располагались справа
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  font-size: 1.2em;
  margin-left: 15px;
  text-decoration: none; // Убираем подчеркивание
  &.hover-gray {
    background-color: $nav-link-hover-bg-color;
  }
}

.activeNavLink {
  background-color: $nav-link-hover-bg-color;
}*/

// Faq.module.scss
// .navColumn {
//   background-color: #f0f0f0;
// }

// .navItem {
//   margin-bottom: 10px;
// }

// .navLink {
//   display: flex;
//   align-items: center;
//   color: black;
//   font-size: 1.2em;
//   text-decoration: none !important; // Убираем подчеркивание
//   padding: 10px;
//   border-radius: 5px;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: #d3d3d3;
//   }

//   svg {
//     margin-right: 10px;
//   }
// }

// .activeNavLink {
//   background-color: #d3d3d3;
// }


#mapCanvas {
  border: 1px solid #000;
}

.hovered {
  cursor: pointer;
  /* Добавьте стили для подсветки при наведении по вашему выбору */
}
