body{
    margin: 0 0px;
}

header{
    display: inline-block;
    background: linear-gradient(135deg, #00a35c 0%,#00a35c 32%,#6cd890 32%,#6cd890 35%,#6cd890 36%,#6cd890 36%,#00a35c 36%,#00a35c 36%,#00a35c 40%,#6cd890 40%,#6cd890 100%);
    width: 100%;
    height: 90px;
    color: white;

    .TittleName{
        display: inline-block;
        margin-left: 30px;
    }

    .FAQ{
        display: inline-block;
        margin-left: 60%;
        color: white;
    }
    .FAQ:hover{
        color: rgb(180, 180, 180);
        cursor: pointer;
    }

    .VirtualDev{
        display: inline-block;
        margin-left: 30px;
        color: white;
    }
    .VirtualDev:hover{
        color: rgb(180, 180, 180);
        cursor: pointer;
    }

    .Autorization{
      display: inline-block;
      margin-left: 15px;
      color: white;
      position: relative;
      border: 3px solid white;
      border-radius: 30%;
      padding-left: 13px;
      padding-right: 15px;
    }
    
    .Autorization:hover{
      color: rgb(180, 180, 180);
      background-color: white;
      transition-duration: 0.5s;
      cursor: pointer;
    }
}

.wrapper{
    display: flex;
}

  
ul{
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0;
}

li {
  width: 150px;
  display: none;
  background-color: black;
  list-style: none;
  border: 1px solid rgb(50, 131, 131, 0.1);
}

li:hover ul{
  display: block;
}